<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CHATGPTkey</key>
	<string>$(CHATGPTkey)</string>
	<key>NAVER_ID</key>
	<string>$(NAVER_ID)</string>
	<key>NAVER_SECRET</key>
	<string>$(NAVER_SECRET)</string>
	<key>RGid</key>
	<string>$(RGid)</string>
	<key>RGsecret</key>
	<string>$(RGsecret)</string>
</dict>
</plist>
